<div class="p-4" style="height: 700px;">
    <p class="text-2xl font-semibold mb-4">WL.AWS10002</p>
    <div class="w-full flex gap-10">
        <div class="flex flex-col w-1/2 gap-4">
            <div>
                <p class="font-semibold">Device Description</p>
                <div class="font-light pl-4">
                    <div 
                        class="flex justify-between" 
                        *ngFor="let label of deviceDescription"> 
                        <p>{{label.name}}</p> 
                        <p>{{label.value}}</p> 
                    </div>                
                </div>
            </div>
            <div>
                <p class="font-semibold">Device Description</p>
                <div class="font-light pl-4">
                    <div 
                        class="flex justify-between" 
                        *ngFor="let label of activityReport"> 
                        <p>{{label.name}}</p> 
                        <p>{{label.value}}</p> 
                    </div>                
                </div>
            </div>
            <div>
                <p class="font-semibold">State of Health (SOH) Status</p>
                <div class="font-light pl-4">
                    <div 
                        class="flex justify-between" > 
                        <p>Panel: -V</p> 
                        <p>Battery: -V</p> 
                    </div>                
                </div>
            </div>
        </div>

        <div class="flex flex-col w-1/2 gap-4">
            <div>
                <p class="font-semibold">Location Map</p>
            </div>
            <div>
                <p class="font-semibold">Data Provider</p>
                <div class="w-14 h-auto p-2 bg-white rounded-md">
                    <img class="w-full h-full" src="/assets/Logo-BMKG-new.png" alt="logo">
                </div>
            </div>
        </div>
    </div>
</div>