<div class="bg-my-blue px-4 pt-6 pb-20">
    <div class="flex items-center justify-between">
        <p class="text-6xl font-semibold text-white">AWS Ajibata</p>
        <div class="rounded-l-md overflow-hidden flex text-white -mr-4">
            <div class="p-4 px-6 bg-my-red bg-opacity-80">
                <p class="relative top-1"><mat-icon>warning</mat-icon></p>
            </div>
            <div class="font-semibold text-lg bg-my-red p-2">
                <p>KECEPATAN ANGIN LEBIH DARI 15 KTS!</p>
                <p>RESIKO TINGGI TERHADAP KESELAMATAN KAPAL TONGKANG!</p>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-4 gap-6 px-4 relative bottom-10">
    <div class="card bg-white text-my-blue" *ngFor="let card of dashboardCard">
        <div class="px-4 py-6 flex-col">
            <div class="flex justify-between items-center mb-6">
                <p class="text-2xl font-light">{{card.label}} <span class="font-semibold text-xs">({{card.unit === 'C' ? '&deg; C' : card.unit}})</span></p>
                <mat-slide-toggle
                    class="font-semibold text-xs"
                    [color]="color"
                    [checked]="checked"
                    [disabled]="disabled">
                </mat-slide-toggle>
            </div>            
            <div class="text-center" *ngIf="urlStatus === true">
                <div class="w-fit mx-auto py-6"  *ngIf="loading === true"><mat-spinner></mat-spinner></div>
                <p class="text-7xl font-bold py-6" *ngIf="loading === false" >{{card.value}}</p>
            </div>
            <div class="text-center" *ngIf="urlStatus === false">
                <p class="text-xl font-bold py-6">Silahkan pilih station list...</p>
            </div>
        </div>
    </div>
</div>